<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <appSettings>
        <!-- value = QA, UAT, PRODUCTION -->
        <add key="Environment" value="QA" />
        <!-- value = CHROME, FIREFOX -->
        <add key="Browser" value="CHROME" />
    </appSettings>
    <specFlow>
        <language feature="de-AT" /> 
    </specFlow>
</configuration>